[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://cloktopus-backend-730946715554.europe-west1.run.app"
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
