[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://event-scheduling-tool-backend-s750.onrender.com"
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
